


@model List<EasyEOrder.Dal.DTOs.FoodDto>
@if (Model.Count == 0)
{
    <h4>Jelenleg nincs rendelt étele.</h4>
}
else
    foreach (var food in Model)
    {


        <div class="cart-card m-4">
            <img class="cart-img" src="https://4cdn.hu/kraken/image/upload/s--mttn3MQz--/w_1160/6pn3V8Q207lICG8Bs.jpeg" alt="The Last Supper " />
            <div class="card-body">
                <div class="card-body-top">
                    <div class="card-body-left">
                        <h5 class="card-title">The Last Supper:  @food.Name</h5>
                    </div>
                    <div class="card-body-rigth">
                        <div class="card-price-text">
                            @food.Price ft
                        </div>
                    </div>
                </div>
            </div>

            <form id="new-comment-form" method="post" asp-action="DeleteCartItem">
                @*    <textarea name="text" class="html-editor"></textarea>*@
                @*<div class="text-right mt-2">*@
                <button class="btn cart-delete-button" value="@food.Id" name="Id">
                    Törlés
                </button>
                @*</div>*@
            </form>

            @*<a class="btn"
                   asp-action="DeleteCartItem"
                   asp-controller="FoodCart"
                   data="@food.Id"
                   method="post">Delete</a>
                <input type="hidden" asp-for="@food.Id" value="@food.Id" />*@
            @*  <a id="delete" input="@food.Id" class="btn cart-delete-button">Törlés</a>*@
            @*<input type="submit" value="Étel törlése"></input>*@

        </div>


    }


