


<div class="card">
    <img class="card-img-top" src="https://4cdn.hu/kraken/image/upload/s--mttn3MQz--/w_1160/6pn3V8Q207lICG8Bs.jpeg" alt="The Last Supper " />

    <div class="card-body">
        <div class="card-body-top">
            <div class="card-body-left">
                <h5 class="card-title">The Last Supper:  @Model.Name</h5>

                <h6 class="card-subtitle">
                    Allergének: @foreach (var allergen in Model.FoodAllergens)
                    {@allergen.Allergen @Html.Raw(", ")}
                </h6>
                <h7 class="card-subtitle">@Model.Category</h7>

            </div>
            <div class="card-body-rigth">
                @for (int i = 0; i < Model.Rating; i++)
                {
                    <img src="~/assets/icons/star-fill.svg" alt="" width="25" height="25">
                }
                @for (int i = 0; i < 5 - Model.Rating; i++)
                {
                    <img src="~/assets/icons/star.svg" alt="" width="25" height="25">
                }



                <div class="card-price-text">
                    @Model.Price ft
                </div>
            </div>
        </div>
        <div class="card-bottom">
            <p class="card-detail-text">
                @Model.Description
                @Model.Id
            </p>
            <a id="addCart" class="btn buy-button">Megveszem</a>
            <form class=" d-flex mt-1 justify-content-center" accept-charset="" method="post" asp-action="Delete">
                <button class="btn  buy-button mt-auto" value="@Model.Id" name="Id">
                    Étel törlése az étlapról
                </button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        toastr.options = {
            positionClass: 'toast-bottom-center'
        };
        $('#addCart').click(function () {
            $.ajax({
                url: '@Url.Action("AddCart", "Cart")',
                type: 'POST',
                data: { id: '@Model.Id' },
                success: function (data) {

                    toastr.success('Sikeres megrendelés').position;

                },
                error: function () {
                    alert("error");
                }
            })
        }
        );
    });
</script>
