

<div>
    @foreach (var foodOrderByCategory in Model)
    {
        <div>
            <div class="foodlist-category-title">
                @if (@foodOrderByCategory.Category == 1)
                {

                    @Html.Raw("- Levesek -")


                }
                @if (@foodOrderByCategory.Category == 2)
                {
                    @Html.Raw("- Főételek -")
                }
            </div>
            @*<div class="category-title">
                    @foodOrderByCategory.Category
                </div>*@


            <div class="foodlist-card-list">
                @foreach (var food in foodOrderByCategory.Foods)
                {
                    <div class="foodlist-card" style="width: 18rem;">
                        <img style="width: 17rem;" class="card-img-top" src="https://4cdn.hu/kraken/image/upload/s--mttn3MQz--/w_1160/6pn3V8Q207lICG8Bs.jpeg" alt="The Last Supper " />
                        <div class="card-body">
                            <h5 class="card-title">The Last Supper: @food.Name</h5>
                            @if (food.FoodAllergens != null)
                            {
                                <h6 class="card-subtitle mb-3">
                                    Allergének: @foreach (var allergen in food.FoodAllergens)
                                    {@allergen.Allergen @Html.Raw("  ")}
                                </h6>
                            }
                            <h6 class="card-subtitle mb-4">
                                @for (int i = 0; i < food.Rating; i++)
                                {
                                    <img src="~/assets/icons/star-fill.svg" alt="" width="25" height="25">
                                }
                                @for (int i = 0; i < 5 - food.Rating; i++)
                                {
                                    <img src="~/assets/icons/star.svg" alt="" width="25" height="25">
                                }
                            </h6>
                            <div class="d-flex justify-content-between">
                                <h6 class="card-subtitle mb-2">Ár: </h6>  <h6 class="card-subtitle mb-2">  @food.Price Ft</h6>
                            </div>
                            <a asp-area="" asp-controller="Food" asp-action="Details" asp-route-id="@food.Id" class="btn btn-primary">Részletek</a>

                            <a asp-area="" asp-controller="Food" asp-action="Create"  class="btn btn-primary">Szerkesztés</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>