


@model List<EasyEOrder.Dal.DTOs.FoodDto>
@if (Model.Count == 0)
{
    <h4>Jelenleg nincs rendelt étele.</h4>
}
else
{
    foreach (var food in Model)
    {
        <div class="cart-card m-4">
            <img class="cart-img" src="@($"/assets/pictures/{food.FoodCategories}.jpg")" alt="Food" />
            <div class="card-body">
                <div class="card-body-top">
                    <div class="card-body-left">
                        <h5 class="card-title"> @food.Name</h5>
                    </div>
                    <div class="card-body-rigth">
                        <div class="card-price-text">
                            @food.Price ft
                        </div>
                    </div>
                </div>
            </div>
            <form class=" d-flex" id="new-comment-form" method="post" asp-action="DeleteCartItem">
                <button class="btn cart-delete-button mt-auto" value="@food.Id" name="Id">
                    Törlés
                </button>
            </form>
        </div>
    }
<div>
    <h4>Összesen: </h4>
    <h5>@ViewBag.SumPrice Ft</h5>
    <form class=" d-flex" id="new-comment-form" method="post" asp-action="DeleteCartAllItem">
        <button class="btn">Megveszem</button>
    </form>
</div>
}